/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Microsoft YaHei", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  height: 40px;
  outline-offset: -1px;
  outline: 1px solid #CCCCCC;
  -webkit-border-radius: 2px;
  border: 1px solid #CCCCCC;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
  height: 40px;
  -webkit-border-radius: 2px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track-piece {
  background: rgba(37, 65, 136, 0.1);
  -webkit-border-radius: 0;
}
.anchorBL {
  display: none !important;
}
.breadcrumb {
  width: 100%;
  height: 52px;
  background: white;
  padding-top: 15px !important;
  padding-left: 20px !important;
}
.common-content {
  padding: 20px;
}
.common-title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: bolder;
}
.common-title span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ant-pagination-total-text {
  float: right !important;
  margin-left: 15px;
  line-height: 32px;
}
.maplable {
  border-collapse: collapse;
  border-spacing: none;
  border: 1px solid #ccc;
  width: 180px;
  font-size: 12px;
}
.maplable tr td:first-child {
  width: 50px;
}
.maplable tr td:last-child {
  width: 130px;
}
.maplable td {
  border: 1px solid #ccc;
  padding: 2px 3px;
}
.common-tooltip .ant-tooltip-inner {
  background-color: #309cff !important;
}
.common-tooltip .ant-tooltip-arrow {
  border-top-color: #309cff !important;
}
table {
  table-layout: fixed;
}
table td {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.shield {
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.shield span {
  display: inline-block;
  width: 10px;
  height: 40px;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.shield span.item-1 {
  background: #2ecc71;
}
.shield span.item-2 {
  background: #3498db;
}
.shield span.item-3 {
  background: #9b59b6;
}
.shield span.item-4 {
  background: #e67e22;
}
.shield span.item-5 {
  background: #c0392b;
}
.shield span.item-6 {
  background: #e74c3c;
}
.shield span.item-7 {
  background: #e74c8c;
}
.shield .item-1 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.shield .item-2 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.shield .item-3 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.shield .item-4 {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.shield .item-5 {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.shield .item-6 {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.shield .item-7 {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
@-webkit-keyframes scale {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  20%,
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scale {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  20%,
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}


/*# sourceMappingURL=common.41e02673.chunk.css.map*/